<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.dc.mapper.ComboCountMapper">

    <select id="listComboCount" resultType="ComboCount">
        SELECT t.combo_code,t.combo_desc,t.combo_img,t.combo_name,t.combo_type ,SUM(t.count) as count
        FROM dc_combo_count t
        <where>
            <if test="startDate != null">AND order_date >= #{startDate}</if>
            <if test="endDate != null">AND order_date &lt;= #{endDate}</if>
        </where>
        GROUP BY t.combo_code,t.combo_desc,t.combo_img,t.combo_name,t.combo_type
    </select>
</mapper>
