<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.dc.mapper.OrderMapper">

    <select id="getOrderMinX" resultType="com.ty.dc.entity.Order">
        SELECT * FROM dc_order
        WHERE del_flag = 0 AND order_date = CURDATE()
        AND combo_id IN (
            SELECT combo_id FROM dc_order o
            WHERE o.del_flag = 0
            AND o.order_date = CURDATE()
            AND o.status != 2
            GROUP BY combo_id
            HAVING COUNT(id) &lt; #{minOrder}
        )
    </select>

    <select id="getOrderPersonCnt" resultType="java.util.HashMap">
        SELECT c.*,t.cnt
        FROM dc_combo c,(SELECT o.combo_id,count(*) as cnt FROM dc_order o WHERE o.eve_score is not null AND o.order_date >= #{startDate} AND o.order_date &lt;= #{endDate} GROUP BY o.combo_id) t
        WHERE c.id = t.combo_id
    </select>


    <select id="getOrderScoreMin" resultType="java.util.HashMap">
        SELECT c.*,t.cnt,t.avg
        FROM dc_combo c,(SELECT o.combo_id,sum(eve_score) as cnt,AVG(eve_score) as avg FROM dc_order o  WHERE o.eve_score is not null AND o.order_date >= #{startDate} AND o.order_date &lt;= #{endDate} GROUP BY o.combo_id) t
        WHERE c.id = t.combo_id
        ORDER BY t.cnt ASC LIMIT #{num}
    </select>

    <select id="getOrderScoreMax" resultType="java.util.HashMap">
        SELECT c.*,t.cnt,t.avg
        FROM dc_combo c,(SELECT o.combo_id,sum(eve_score) as cnt,AVG(eve_score) as avg FROM dc_order o  WHERE o.eve_score is not null AND o.order_date >= #{startDate} AND o.order_date &lt;= #{endDate} GROUP BY o.combo_id) t
        WHERE c.id = t.combo_id
        ORDER BY t.cnt DESC LIMIT #{num}
    </select>



</mapper>
