<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.dc.mapper.OrderMapper">

    <select id="getOrderMinX" resultType="com.ty.dc.entity.Order">
        SELECT * FROM dc_order
        WHERE del_flag = 0 AND order_date = CURDATE()
        AND combo_id IN (
            SELECT combo_id FROM dc_order o
            WHERE o.del_flag = 0
            AND o.order_date = CURDATE()
            AND o.status != 2
            GROUP BY combo_id
            HAVING COUNT(id) &lt; #{minOrder}
        )
    </select>
</mapper>
